{{>Cabecera}}
<head>
    <meta charset="UTF-8">
    <title>Mis Conversaciones</title>
</head>
<div style="background-color: #c9ffff">
    <div style="text-align: center">
<h1>Mis conversaciones: </h1>
<ul>
    {{#listaConversacionesE}}
    <li>
        <p><strong><a href="/conversacion/{{id}}">Chat con: {{producto.vendedor.nombreUsuario}} para: {{producto.nombre}}</a></strong><br>
    </li>
    {{/listaConversacionesE}}
    {{#listaConversacionesR}}
    <li>
        <p><strong><a href="/conversacion/{{id}}">Chat con: {{emisor.nombreUsuario}} para: {{producto.nombre}}</a></strong><br>
    </li>
    {{/listaConversacionesR}}

</ul>
    </div>
</div>
{{>PieDePagina}}
