{{>Cabecera}}
<title>Subir producto</title>
    <h1>Formulario de nuevo producto</h1>
    <h3>Rellene los siguientes campos:</h3>
    
    <form method="post" action="/NuevoProducto" enctype="multipart/form-data">

        <label>
            - Imagen: <input type='file' name='imageField' accept=".png">
        </label><br><br>
        <label>
            - Nombre: <input type='text' name='nombreProducto' placeholder="Nombre del producto" autocomplete="on"
                             required>
        </label>
        <br><br>
        <label>
            - Categoría:
            <select name="categoriaProducto" id="categoriaProducto" required>
                <option value="" selected disabled hidden>-- Elija una categoria --</option>
                <option value="Automoviles">Automoviles</option>
                <option value="Calzado">Calzado</option>
                <option value="Electrodomesticos">Electrodomésticos</option>
                <option value="Hogar">Hogar</option>
                <option value="Libros">Libros</option>
                <option value="Deporte">Deporte</option>
                <option value="Ropa">Ropa</option>
                <option value="Tecnologia">Tecnologia</option>
            </select>
        </label>
        <br><br>
        <label>
            - Descripción del producto: <br>
            <textarea placeholder="Breve descripcion del producto"
                      name='descripcionProducto' cols="40" rows="5" required></textarea>
        </label>
        <br><br>
        <label>
            - Precio: <input type='number' name='precioProducto' min="0" step="0.01" size="5" required/> Euros
        </label>
        <br><br><br>
        <input type="reset" value='Eliminar' style="color: red"/>
        <input type="submit" value='Crear Producto' style="font-size: large">
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
    <br>

{{>PieDePagina}}
