{{>Cabecera}}
<title>Inicio</title>
<body>
<div style="background-color: #c9ffff">
    <div style="text-align: justify-all">
        <h2>Bienvenido al espacio de compra - venta mas grande en el mundo universitario </h2>

        <form action='Formulario'>- Presione este botón para subir un producto nuevo
            <input type='submit' value='Ir a formulario'>
        </form>
        <br>
        <form action='/Formulario'>- Predeterminado
            <input type='submit' value='Nada'>
        </form>
    </div>
</div>
</body>
{{>PieDePagina}}
