<!DOCTYPE html>
<html lang="en">
{{>Cabecera}}
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
<div style="background-color: #c9ffff" align="center">
    <h1>Iniciar Sesión</h1>

    <form role='form' method="post" action="/login">
        <label>
            Nombre: <input type='text' name='nombreUsuario' placeholder="Introduzca nombre de usuario" autocomplete="on"
                           required>
        </label><br><br>

        <label>
            Clave: <input type='password' name='claveUsuario' placeholder="Introduzca su contraseña" required>
        </label><br><br>

        <input type="reset" value='Borrar' style="color: red"/>
        <input type="submit" value='Iniciar Sesión'><br><br>
        <input type="hidden" name="_csrf" value="{{token}}"/>

        <a href='/registrarse'>No tengo cuenta, Registrarse </a>

    </form>
</div>
</body>
{{>PieDePagina}}
