{{>Cabecera}}
<meta charset="UTF-8">
<title>Historial de compras</title>

<div style="margin-left: 15px">

    <h1>Historial de compras: </h1>
    <h2>Nombre: {{usuario.nombreUsuario}}</h2>
    {{^listaProductos}}Sin productos adquiridos{{/listaProductos}}
    <ul>
        {{#listaProductos}}
        <li style="margin: 10px; padding: 10px">
            {{#isHayImagen}}
            <img src="/producto/{{producto.id}}/image" height="200" width="300" alt="200">
            {{/isHayImagen}}

            {{^isHayImagen}}
            <img src="/productoGenerico.png" height="200" width="277" alt="200">
            {{/isHayImagen}}
            <br>- Nombre: {{nombre}}
            <br>- Descripción: {{descripcion}}
            <br>- Categoría: {{categoria}}
            <br>- Precio: {{precio}}
            <br>- Comprado a: <a href="/Perfil/{{vendedor.id}}">{{vendedor.nombreUsuario}}</a>
        </li>
        {{/listaProductos}}
    </ul>
</div>
{{>PieDePagina}}
