{{>Cabecera}}
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
</head>

{{>Cabecera}}
<div>
    <div style="text-align: center">
        <h1>{{producto.nombre}} </h1>
    </div>
    {{#producto.image}}
    <img src="/books/{{producto.id}}/image">
    {{/producto.image}}

    {{^Producto.image}}
    <img src="/images/no_image.png">
    {{/producto.image}}
    <div>
        <p>{{producto.categoria}}</p>
    </div>
    <div>
        <p>{{producto.precio}}</p>
    </div>
    <div>
        <p>{{producto.descripccion}}</p>
    </div>

    <p>
        <button onclick="location.href='/eliminarproducto/{{book.id}}'">Eliminar</button>
        <button onclick="location.href='/editarproducto/{{book.id}}'">Editar</button>
        <br>
        <button onclick="location.href='/'">Volver atras</button>
    </p>
</div>

{{>PieDePagina}}