{{>Cabecera}}

<meta charset="UTF-8">
<title>Perfil</title>

<body>
<h1>Mi Perfil</h1>
<h2>Nombre: {{usuario.nombreUsuario}}</h2>

<form action='/productos/Comprados/{{usuario.id}}'> Ver historial de compras
    <input type='submit' value='Mi Historial de compras'>
</form>

<h2>Lista de producto: </h2>
{{^usuario.listaProductos}}Sin productos {{/usuario.listaProductos}}
<ul>
    {{#usuario.listaProductos}}
    <li>
        {{^hayComprador}}
        <a href="/productos/{{id}}">
            {{#producto.hayImagen}}
            <img src="/producto/{{producto.id}}/image" height="300" width="400" alt="200">
            {{/producto.hayImagen}}

            {{^producto.hayImagen}}
            <img src=/productoGenerico.png height="300" width="400" alt="100">
            {{/producto.hayImagen}}
            <h3>{{nombre}} </h3>
        </a>
        {{/hayComprador}}
    </li>
    {{/usuario.listaProductos}}
</ul>

</body>
{{>PieDePagina}}
