<h2>Lista de Productos</h2>
<div style="text-align: center">
    <form method="post" action="/buscar" enctype="multipart/form-data">
        <label>
            <input type='text' name="nombreProductoABuscar" placeholder="Búsqueda de producto" autocomplete="on"
                   required>
        </label>
        <input type="submit" value="Buscar">
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
    <ul>
        {{#listaProductos}}
        {{^hayComprador}}
        <li>
            <a href="./productos/{{id}}">
                {{#isHayImagen}}
                <img src="/producto/{{producto.id}}/image" height="200" width="200" alt="200">
                {{/isHayImagen}}

                {{^isHayImagen}}
                <img src="/productoGenerico.png" height="200" width="200" alt="200">
                {{/isHayImagen}}
                <br>{{nombre}}
            </a> -  {{producto.precio}} Euros
        </li>
        {{/hayComprador}}
        {{/listaProductos}}
    </ul>
    {{^listaProductos}}Sin Productos subidos{{/listaProductos}}
</div>
