<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
<div style="background-color: #c9ffff">
<form role='form' method="post" action="">
    <label>
        Nombre: <input type='text' name='nombreUsuario' placeholder="Introduzca un nombre como usuario" autocomplete="on"  required>
    </label><br><br>
    <label>
        Password: <input type='password' name='passwordUsuario' placeholder="Introduzca contraseña" required>
    </label><br><br>
    <label>
        Password: <input type='password' name='password2Usuario' placeholder="Vuelva a Introduzca contraseña" required>
    </label><br><br>
    <label>
        - Email: <input type='email' name='correoUsuario' pattern="[a-z0-9._]+(@gmail+\.|@hotmail+\.|@alumnos.urjc+\.)+(com|es|org)$" placeholder="Nombre del producto" autocomplete="on"
                        required>
    </label><br><br>

    <a href='Log_In.html'>Ya tengo cuenta, Iniciar Sesion </a>

</form>
</div>
</body>
</html>